.reward {
    grid-area: reward;
}

.btn_wrapper {
    display: flex;
}

.reward_balance {
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 24px;
}